.text p { 
    width: 638px;
    height: 116px;   
    padding-top:550px ;
    padding-right: 80px;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: #2D2D2D;
}