.container-sucess {
    height: 100vh;
    background-image: url('../../assets/images/bkg-left.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.img-desk-sucess{
    width: 500px;
    height: 350px;
    margin-top: 230px;
    margin-left: 60px;
    position: fixed;
}
