.title-sucess {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    padding: 1rem;
    margin-top: 30%;
    color: #2D2D2D;
}

.text-sucess { 
    width: 638px;
    height: 116px;   
    text-align: left;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: #2D2D2D;
    padding: 1rem;
}

