        

            .title-register{
              font-size: 32px;
              padding-bottom: 20px;
              font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              padding-top: 40px;
              color: black;
              text-align: left;
            }

            .cor {
              color: red;
            }

            .criarConta{
              width: 500px;
              margin-right: 0 !important;
            }

            .formStyle {
              width: 498px;
              height: 40px;
              border: 2px solid #CFCFCF;
              background: #EEEEEE;
              border-radius: 8px;
              margin: 10px 0px 10px 0px;
            }

            .formStyle1 {
              width: 498px;
              height: 40px;
              background: white;
              border: 2px solid #CFCFCF;
              border-radius: 8px;
              margin: 10px 0px 10px 0px;

            }

            .formStyle2 {
              width: 200px;
              height: 40px;
              background: #EEEEEE;
              border: 2px solid #CFCFCF;
              border-radius: 8px;
              margin: 10px 0px 10px 0px;
            }

            .divForm1 {
              width: 600px;
              display: flex;
              justify-content: space-;
              margin: 10px 0px 10px 0px;
            }

            .divForm2 {
              width: 300px;

            }

            .termos {
              width: 600px;
              padding-right: 120px;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
            }

            .termos1 {
              border: 1px solid green;
              width: 20px;
            }

            .botao {
              width: 70px;
              margin-left: 200px;
              text-align: center;
              border: 1px solid #CFCFCF;
              border-radius: 6px;

            }

            @media only screen and (max-width: 600px) {

              .formStyle1,
              .formStyle,
              .formStyle2 {
                width: 380px;
              }

              .divForm1,
              .divForm2 {
                width: 680px;
                display: block;
                flex-wrap: wrap;
              }

              .termos {
                width: 380px;
                margin: 0 0;
              }

              .botao {
                margin-left: 160px;
              }
            }